*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(219, 43, 43);
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    text-align: center;
    padding: 20px;
    background: transparent;
    border-radius: 20px;
    box-shadow: -1px -1px 10px 10px rgba(189, 97, 97, 0.8);
}
.dgn{
    font-size: larger;
    font-weight: bold;
}

#input{
    font-size: 60px;
    height: 100px;
    color: aliceblue;
    max-width: 400px;
    overflow: hidden;
    margin: 10px;
}
button{
    border: none;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 6px 6px 10px  rgba(190, 97, 97, 1);
}